#links{
    margin:0px;padding: 0;
 }
 .col-4 .linkgroup
 {
    margin-left:-30px;
 }


 nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color:white;
    display: flex;
    justify-content:center;
    text-align:center;
    margin-left:-15px;
    
  }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;

  }


  h1,h2,h3,h4
  {
    
      font-family: 'Redressed', cursive;
 
  }



 

  
  section{
      padding-top:30px;
  }
  
 
li{
    list-style:none;
}

.row ul{
    list-style: none;

}
.profile
{
    border-radius:5px;
    width:300px;
    height:300px;
    object-fit: cover;
}

.contact
{
    margin-left:-15px;
    margin-top:10px;
}
@media only screen and (min-width: 768px) {
    .row{
        display: flex;	
    }
    
    .col-1 {flex-basis: 8.33%;} /* width works too */
    .col-2 {flex-basis: 16.66%;}
    .col-3 {flex-basis: 25%;}
    .col-4 {flex-basis: 33.33%;}
    .col-5 {flex-basis: 41.66%;}
    .col-6 {flex-basis: 50%;}
    .col-7 {flex-basis: 58.33%;}
    .col-8 {flex-basis: 66.66%;}
    .col-9 {flex-basis: 75%;}
    .col-10 {flex-basis: 83.33%;}
    .col-11 {flex-basis: 91.66%;}
    .col-12 {flex-basis: 100%;}
    
    .col-4
{
  text-align: right;
  max-width: 800px;


}
.container{
    max-width: 80%;
    margin: 0 auto;

  }
  h1,h2,h3,h4
  {
    margin-left:-15px;
      
  }

   
  }





  @media only screen and (max-width: 767px)
  {
      .container{
        max-width: 95%;
        margin:0 auto;
        background: white;
        padding: 10px;
        justify-content:center;
      }
      .col{
        flex-basis: 100%;
      }
      .row{
        flex-wrap:wrap;
        flex-direction: column; 
      }
      h1,h2,h3,h4
{
    text-align:center

}
.profile
{
    display: block;
  margin-left: auto;
  margin-right: auto;

}
.break
{
    display: none;
}


   

  }

#thanks
{
    margin: auto;
    width: 50%;
    text-align: center;
    font-size:20px;
  
}

@media only screen and (max-width: 600px)
{
    .container{
        text-align: center;
    }
    .desc{
        text-align: center;
    }

    .break
    {
        display: none;
    }
}

#img1,#img2, #life, #secondary, #police
{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


#covid, #police
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}